.button {
  width: 160px;
  height: 52px;
  background-color: var(--btn-normal-color);
  border: none;
  border-radius: 6px;
  color: #fff;

  transition: background-color var(--trans-time) var(--trans-func);
}

.button:hover,
.button:focus {
  background-color: var(--btn-active-color);
}

.disabled {
  composes: button;
  cursor: default;
  background-color: var(--btn-disabled-color);
}

.disabled:hover,
.disabled:focus {
  background-color: var(--btn-disabled-color);
}
